<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.iquesoft.iquephoto">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".PhotoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.EditorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ShareActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>